#header {
 text-align: center;
 font-weight: 400;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: #006466;
 background-color: #312244;
 padding: 2%;
}

#citySearch {
    background-color: #4D194D;
    color: whitesmoke;
    padding: 2%;
    border-radius: 20%;
}

#searchButton {
    background-color: #4D194D;
    color: whitesmoke;
    position: relative;
    text-align: center;
}

#searchBar {
    width: fit-content;
    box-shadow: whitesmoke;
    text-align: center;
    color: whitesmoke;

}

.z-depth-5 {
    width: fit-content;
}
#currentCity {
    text-align: right;
    padding: 2%;
    border-radius: 20%;
    background-color: #4D194D;
    color: whitesmoke;
}
#fiveDayForcast {
 text-align: center;
 padding: 10%;
 width: fit-content;
 background-color: #144552;
 color:black;
 border: 5%;
 border-radius: 10%;
 position: relative;
}