#header {
 text-align: center;
 font-weight: 400;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: blue;
 padding: 2%;
}

.z-depth-5 {
    width: fit-content;
}
#currentCity {
    text-align: right;
    padding: 2%;
}
#fiveDayForcast {
 text-align: right;
 padding: 2%;
 width: fit-content;
}